<?xml version="1.0"?>
<!--
/**
 * Fontis FeedsGenerator Extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Fontis
 * @package    Fontis_FeedsGenerator
 * @author     Chris Norton
 * @copyright  Copyright (c) 2014 Fontis Pty. Ltd. (http://www.fontis.com.au)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Fontis_FeedsGenerator>
            <version>1.4.2</version>
        </Fontis_FeedsGenerator>
    </modules>
    <crontab>
        <jobs>
            <Fontis_FeedsGenerator_Shoppingdotcom>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedsgenerator/shoppingdotcom_cron::generateFeedViaMagentoCron</model>
                </run>
            </Fontis_FeedsGenerator_Shoppingdotcom>
            <Fontis_FeedsGenerator_Myshopping>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedsgenerator/myshopping_cron::generateFeedViaMagentoCron</model>
                </run>
            </Fontis_FeedsGenerator_Myshopping>
            <Fontis_FeedsGenerator_Shopbot>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedsgenerator/shopbot_cron::generateFeedViaMagentoCron</model>
                </run>
            </Fontis_FeedsGenerator_Shopbot>
            <Fontis_FeedsGenerator_Getprice>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedsgenerator/getprice_cron::generateFeedViaMagentoCron</model>
                </run>
            </Fontis_FeedsGenerator_Getprice>
            <Fontis_FeedsGenerator_Googleproducts>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedsgenerator/googleproducts_cron::generateFeedViaMagentoCron</model>
                </run>
            </Fontis_FeedsGenerator_Googleproducts>
            <Fontis_FeedsGenerator_Shoptab>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>feedsgenerator/shoptab_cron::generateFeedViaMagentoCron</model>
                </run>
            </Fontis_FeedsGenerator_Shoptab>
        </jobs>
    </crontab>
    <global>
        <models>
            <feedsgenerator>
                <class>Fontis_FeedsGenerator_Model</class>
            </feedsgenerator>
        </models>
        <helpers>
            <feedsgenerator>
                <class>Fontis_FeedsGenerator_Helper</class>
            </feedsgenerator>
        </helpers>
        <blocks>
            <feedsgenerator>
                <class>Fontis_FeedsGenerator_Block</class>
            </feedsgenerator>
        </blocks>
        <resources>
            <feedsgenerator_setup>
                <setup>
                    <module>Fontis_FeedsGenerator</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </feedsgenerator_setup>
            <feedsgenerator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </feedsgenerator_write>
            <feedsgenerator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </feedsgenerator_read>
        </resources>
    </global>
    <default>
        <fontis_feedsgenerator>
            <general>
                <use_magento_cron>1</use_magento_cron>
            </general>
            <shoppingdotcomfeed>
                <output>shoppingdotcom-feeds/</output>
                <include_all_products>1</include_all_products>
            </shoppingdotcomfeed>
            <getpricefeed>
                <output>getprice-feeds/</output>
                <defaultcategory>Products</defaultcategory>
                <include_all_products>1</include_all_products>
                <currency>AUS</currency>
            </getpricefeed>
            <shopbotfeed>
                <output>shopbot-feeds/</output>
                <defaultcategory>Products</defaultcategory>
                <include_all_products>1</include_all_products>
            </shopbotfeed>
            <myshoppingfeed>
                <output>myshopping-feeds/</output>
                <defaultcategory>Products</defaultcategory>
                <include_all_products>1</include_all_products>
            </myshoppingfeed>
            <googleproductsfeed>
                <output>googleproducts-feeds/</output>
                <include_all_products>1</include_all_products>
                <default_condition>new</default_condition>
            </googleproductsfeed>
        </fontis_feedsgenerator>
    </default>
</config>
